
<div>

<div class="column2" style="background-color:#ccc;">


  <div class="logo">
    <button class="btn " disabled style=" background-color: royalblue; color: white">{{Month}} {{MonthName}} {{MDays}}</button>
  </div>

  <div class="header-right">
    <button  (click)="ChangeMonth()" class="btn" style="background-color: royalblue; color: white">Next Month</button>
  </div>
</div>

    <!-- Outer div which contains the header div and the month calender div   -->
  <div id="fc-view-container">  <!-- Month Calendar Div  -->
    <table>
      <tr>
        <td>
          <div id="month-view">
            <table id="month-view-table">
              <thead >
              <tr>
                <td>
                  <table>
                    <tr>
                      <td>
                        &nbsp;
                      </td>
                    </tr>
                  </table>
                </td>
                <td *ngFor="let ResourceClinic of SelectedClinics">
                  <div >
                    <table>
                      <thead>
                      <tr>
                        <td colspan="7"  style="cursor: pointer" (click)="DeleteXResource($event)" >
                          <div style=" overflow: hidden; white-space: nowrap; background-color: white">{{ResourceClinic}}</div>
                        </td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td id="left-resources">
                  <table>
                    <thead>
                    <tr>
                      <td>
                        &nbsp;
                      </td>
                    </tr>
                    </thead>
                    <tbody *ngFor="let item of TotalDaysPortion">
                    <tr>
                      <td (click)="ShowAndHideResources()">
                        &nbsp;
                      </td>
                    </tr>
                    <tr *ngFor="let ResourceDoctor of SelectedDoctors" >
                      <td *ngIf="HideResources == true" (click)="DeleteYResource($event)" style="cursor: pointer">
                        <div style=" overflow: hidden; white-space: nowrap; background-color: white">{{ResourceDoctor}}</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td *ngFor="let ClinicName of SelectedClinics"> {{RefreshDaysCounter()}}
                  <div>
                    <table>
                      <thead>
                      <tr>
                        <th *ngFor="let item of weeks">{{item}}</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let item of TotalDaysPortion; let DivNumber = index" >
                      <tr>
                        <th  *ngFor="let item of weeks">{{DaysInMonth[TotalDays]}} {{incrementDay()}}</th>
                      </tr>
                      <tr *ngFor="let DocName of SelectedDoctors" >
                        <th  style="overflow: hidden; max-width: 10px" *ngFor="let item of weeks; let k = index"  [ngSwitch]="returnItem(DocName,(k+1) + (7 * DivNumber) ,ClinicName)"  >
                          <div id="EmptyCell" droppable  (onDrop)="onItemDrop($event,DocName,(k+1) + (7 * DivNumber) ,ClinicName)"  *ngSwitchCase="'.'" style="overflow: hidden;white-space: nowrap; background-color: white" [contextMenu]="NoEventContext"  (click)="EmptyBoxClicked(DocName,ClinicName,(k+1) + (7 * DivNumber))">	&nbsp;  </div>
                          <context-menu #EventContext>
                            <ng-template contextMenuItem (execute)="CopyElement(returnItem(DocName,(k+1) + (7 * DivNumber) ,ClinicName).AppId)" >
                              copy
                            </ng-template>
                            <ng-template contextMenuItem (execute)="PasteElement(DocName , (k+1) + (7 * DivNumber)  , ClinicName )" >
                              paste
                            </ng-template>
                            <ng-template contextMenuItem (execute)="DeleteElement(DocName,(k+1) + (7 * DivNumber) ,ClinicName)" >
                              Delete
                            </ng-template>
                          </context-menu>
                          <div  id ="FullCell" class="wrapper" draggable dragData="{{returnItem(DocName,(k+1) + (7 * DivNumber) ,ClinicName).Timing}}" droppable (onDrop)="onItemDrop($event)" *ngSwitchDefault style="overflow: hidden; white-space:nowrap; background-color: yellow" [contextMenu]="EventContext"  (click)="EventBoxClicked($event,DocName,ClinicName,(k+1) + (7 * DivNumber) )">
                            <div class="row" style=" overflow: hidden;">
                              <div  *ngFor="let item of TestArr" style=" overflow: hidden">
                                {{(returnItem(DocName,(k+1) + (7 * DivNumber) ,ClinicName).Timing)}}
                              </div>
                            </div>
                          </div>

                          <context-menu #NoEventContext>
                            <ng-template contextMenuItem (execute)="PasteElement(DocName , (k+1) + (7 * DivNumber)  , ClinicName )" >
                              paste
                            </ng-template>
                          </context-menu>

                        </th>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </div>

</div>


