
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<br>
<br>



<div class="column2" style="background-color:#ccc;">


  <div class="dropdown">
    <button class="dropbtn">{{DoctorBox}}</button>
    <div class="dropdown-content">
      <a (click)=" UpdateDoctor(item)" *ngFor="let item of AllDoctors">{{item}}</a>
    </div>
  </div>

</div>

<!-- Outer div which contains the header div and the month calender div   -->
<div>
  <div class="header">  <!-- Header Div  -->
    <a class="logo">{{Year}}   {{MonthName}} {{MDays}}</a>
    <div class="header-right">
      <button  (click)="ChangeMonth()" class="btn btn-primary">Next Month</button>
    </div>

  </div>

  <br>

  <div id="fc-view-container">  <!-- Month Calendar Div  -->
    <table>
      <tr>
        <td>
          <div id="month-view" >
            <table id="month-view-table">
              <thead >
              <tr>
                <td *ngFor="let ResourceDoctors of Doctors">
                  <div>
                    <table>
                      <thead>
                      <tr>
                        <td colspan="7" (click)="DeleteXResource($event)" style="cursor: pointer" >
                          {{ResourceDoctors}}
                        </td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td *ngFor="let DocName of Doctors"> {{RefreshDaysCounter()}}
                  <div>
                    <table>
                      <thead>
                      <tr>
                        <th *ngFor="let item of weeks">{{item}}</th>
                      </tr>
                      </thead>
                      <tbody *ngFor="let item of TotalDaysPortion">
                      <tr>
                        <th *ngFor="let item of weeks">{{DaysInMonth[TotalDays]}} {{incrementDay()}}</th>
                      </tr>
                      <tr  >
                        <th *ngFor="let item of weeks; let k = index"  [ngSwitch]="returnItem(DocName,k)"  [ngStyle]="{'background-color':returnItem(DocName , k) === '.' ? 'white' : 'yellow' }">
                          <div *ngSwitchCase="'.'" style=" overflow: hidden; white-space: nowrap; background-color: white"> {{returnItem(DocName,k)}}</div>
                          <div *ngSwitchDefault style="overflow: hidden; white-space:nowrap; background-color: yellow" [contextMenu] (mousedown)="OnContextMenu(returnItem(DocName,k))"> {{returnItem(DocName,k)}}</div>
                        </th>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </div>

</div>


</html>


<context-menu id="basicMenu">
  <ng-template contextMenuItem (execute)="CopyElement()">
    copy
  </ng-template>
  <ng-template contextMenuItem (execute)="PasteElement()" >
    paste
  </ng-template>
  <ng-template contextMenuItem (execute)="DeleteElement()">
    Delete
  </ng-template>
</context-menu>
