* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.event-container{
  height: 100%;
  width: inherit;
  resize: vertical;
  /* border: 1px black solid; */
}

.event{
  position: relative;
  width: inherit;
  background-color:rgb(120, 120, 214);
  border: 3px solid rgb(32, 32, 206);
  border-radius: 8px;
  color: white;
  font-size: 10px;
  text-align: left;
  opacity:0.7;
}

.event button{
  border: none;
  margin: 0 auto;
  padding:0%;
  display: block;
  background: none;
  color: white;
  opacity: 0;
  line-height: 11px;
  position: relative;
  text-align: center;
}

mwlResizable {
  box-sizing: border-box;
}

.event:hover .eventbtn {opacity: 1;}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
