
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- Outer div which contains the header div and the month calender div   -->
<div>

  <div class="column2" style="background-color:#ccc;">
    <div class="dropdown">
      <button class="dropbtn">{{DoctorBox}}</button>
      <div class="dropdown-content">
        <a (click)=" UpdateDoctor(item)" *ngFor="let item of AllDoctors">{{item}}</a>
      </div>
    </div>
  </div>


  <div class="header">  <!-- Header Div  -->
    <a class="logo">{{TodayDate}}</a>
  </div>


  <br>

  <div id="fc-view-container">  <!-- Month Calendar Div  -->
    
    <table>
      <tr>
        <td>
          <div id="Day-view" >
            <table id="Day-view-table">
              <thead >
              <tr>
                <td>
                  <table>
                    <tr>
                      <td>
                        --
                      </td>
                    </tr>
                  </table>
                </td>
                <td *ngFor="let ResourceDoc of Doctors">
                  <div>
                    <table>
                      <thead>
                      <tr>
                        <td colspan="7" (click)="DeleteXResource($event)" style="cursor: pointer" >
                          <div style=" overflow: hidden; white-space: nowrap; background-color: white">{{ResourceDoc}}</div>
                        </td>
                      </tr>
                      </thead>
                    </table>
                  </div>
                </td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td id="left-resources">
                  <table>
                    <tbody>
                    <tr *ngFor="let Hours of FullHours" >
                      <td style="cursor: pointer">
                        <div style=" overflow: hidden; white-space: nowrap; background-color: white">{{Hours}}</div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
                <td *ngFor="let Doc of Doctors">

                  <div>
                    <table>
                      <tbody>
                      <tr *ngFor="let H1 of FullHours"  [ngSwitch]="returnItem(Doc)" >
                        <td>
                          <div
                            mwlResizable
                            appResizableDiv
                            [enableGhostResize]="true"
                            [resizeEdges]="{bottom: true}"
                            style="background-color: white;">

                              <div class="event">
                                  <div style="width:100%; float:left" class="content">04:30PM -- 05:30PM</div>
                                  <div style="width:100%; float:left" class="content">event {{i}}</div>
                                  <!-- <div style="position: absolute; left:0; right:0; bottom:0; width: 100%;">
                                  </div> -->
                              </div>
                            </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </div>

</div>





</html>
























<div>
        <table style="width: 100%">
            <tr>
              <td>
                <table style="width:100%">
                  <tr>
                    <td style="width:100%; background-color: gainsboro; border-radius: 4px">
                      <a style="border: 4px solid white; border-radius: 100%; padding-right: 0.5%; padding-left: 0.5%"><i class="fas fa-chevron-left" style="color: white"></i></a>
                      <a style="width:100%; font-weight: 600; font-size: 120%; color: ghostwhite; padding-right: 0.5%; padding-left: 0.5%">{{TodayDate}}</a>
                      <a style="border: 4px solid white; border-radius: 100%; padding-right: 0.5%; padding-left: 0.5%"><i class="fas fa-chevron-right" style="color: white"></i></a>
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle">
                          <i class="fas fa-user-md"></i>
                          Doctors
                        </button>
                        <div class="dropdown-content">
                          <a (click)=" UpdateDoctor(item)" *ngFor="let item of AllDoctors">{{item}}</a>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                        Remove
                      </button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0.3%">
                <div style="background-color: white; border-radius: 4px;">
                  <table style="width: 100%;display: inline-block; white-space: nowrap;">
                    <tr>
                      <th style="width:1%; white-space:nowrap; padding-top: 0.4%; border-radius: 5px; background-color: darkgray; color: white">
                          <div style=" overflow: hidden; white-space: nowrap;">-------</div>                  
                      </th>
                      <th style="width:1%;" *ngFor="let ResourceDoc of Doctors" (click)="DeleteXResource($event)" style="cursor: pointer; white-space: nowrap;" >
                        <div style="overflow: hidden; border-radius: 5px; padding-top: 0.5%; background-color: darkgray; color: white">{{ResourceDoc}}</div>                  
                      </th>
                    </tr>
                    <tr *ngFor="let hours of FullHours">
                      <td style="cursor: pointer" style="border: 1px solid gainsboro; white-space: nowrap; width:1%">
                        <div style=" overflow: hidden; white-space: nowrap; background-color: white">{{hours}}</div>
                      </td>
                      <td *ngFor="let ResourceDoc of Doctors" style="border: 1px solid gainsboro">
                        <div
                        mwlResizable
                        appResizableDiv
                        [enableGhostResize]="true"
                        [resizeEdges]="{bottom: true}"
                        style="background-color: white; position: relative;">
                          <div class="event">
                              <div style="width:100%; float:left" class="content">04:30PM -- 05:30PM</div>
                              <div style="width:100%; float:left" class="content">event {{i}}</div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
      </div>
      